<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body class="overflow">
    js
</body>
<script>
    let narr = [];
    narr[0] = 1;
    narr[1] = 2;
    narr['t'] = 3;
    narr['q'] = 4;
    narr['r'] = 5;
    let json = {
        t:12212,
        q:23232
    }
    console.log(json['t'])
    console.log(json['q'])
    $.ajax({
        url:"/tqr",
        method:"post",
        data:{oc:narr},
        success:function(res){
            console.log(res)
        }
    })
</script>

</html>